<a href="https://colab.research.google.com/github/sraj2007/pel309/blob/main/Atividade_Aula_2_ETL_(Etapa_extra%C3%A7%C3%A3o).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2 - ETL
Documentação do Pandas: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

# Extração de Dados CSV com o Pandas e Utilização de Funções Básicas

In [3]:
import pandas as pd
# Carregar o arquivo CSV do conjunto de dados (vehicles stopped and search by the police)
police_data = pd.read_csv('/content/sample_data/police.csv')

In [4]:
# Visualizar as primeiras linhas do DataFrame
police_data.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
# Obter informações sobre o DataFrame
police_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [6]:
# Resumo estatístico do DataFrame
police_data.describe()

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

In [7]:
# Dimensões do dataset
police_data.shape

(91741, 15)

In [9]:
# Limpar coluna com todos os valores NaN
police_data.drop("county_name",axis = 1,inplace = True)

In [11]:
police_data.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [12]:
# Verificar se há valores nulos em cada coluna
police_data.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [16]:
# Porcentagem das inflações cometidas
police_data.violation.value_counts(normalize = True)

Speeding               0.560862
Moving violation       0.187760
Equipment              0.127534
Other                  0.049961
Registration/plates    0.039719
Seat belt              0.034164
Name: violation, dtype: float64

In [14]:
#Porcetagem de excesso de velocidade de acordo com o gênero
police_data[police_data.violation == "Speeding"].driver_gender.value_counts(normalize=True)

M    0.680527
F    0.319473
Name: driver_gender, dtype: float64

In [15]:
#Porcetagem de excesso de velocidade de acordo com a etnia
police_data[police_data.violation == "Speeding"].driver_race.value_counts(normalize=True)

White       0.797701
Black       0.103956
Hispanic    0.063822
Asian       0.031488
Other       0.003033
Name: driver_race, dtype: float64

In [24]:
#Porcetagem de Prisões de acordo com a Etnia
police_data[police_data.is_arrested == True].driver_race.value_counts(normalize=True)

White       0.551383
Black       0.240696
Hispanic    0.193240
Asian       0.013998
Other       0.000683
Name: driver_race, dtype: float64

In [ ]:
# Criar um DataFrame de exemplo com valores nulos
data = {'A': [1, 2, None, 4, 5],
        'B': [6, None, 8, 9, 10],
        'C': [11, 12, 13, None, 15]}
df = pd.DataFrame(data)

print(df)

     A     B     C
0  1.0   6.0  11.0
1  2.0   NaN  12.0
2  NaN   8.0  13.0
3  4.0   9.0   NaN
4  5.0  10.0  15.0

In [ ]:

# Substituir valores nulos por "NA"
df_filled = df.fillna("NA")

# Exibir o DataFrame com os valores substituídos
print(df_filled)

     A     B     C
0  1.0   6.0  11.0
1  2.0    NA  12.0
2   NA   8.0  13.0
3  4.0   9.0    NA
4  5.0  10.0  15.0